/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-plus-jakarta);
    font-size: 10px;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    all: initial;
    font-family: var(--font-family-plus-jakarta);
}

.d-none {
    display: none !important;
}

/* Variáveis */
:root {
    /* Variaveis Theme Dark */
    --primary-color: #000;
    --secondary-color: #bebebe;
    --primary-background-color: #1b1b1b;
    --secondary-background-color: #242424;

    /* Texts */
    --text-color: #fff;
    --text-color-inverted: #2e2e2e;

    /* Variaveis Globais */
    --white: #fff;
    --black: #000;
    --grey-medium: #292929;
    --green: #00ccaa;
    --pink: #ff5cb8;
    --yellow: #ffbb00;
    --purple: #b300ff;
    --whatsapp-green: #128C7E;
    --whatsapp-green-light: #25D366;

    /* Font Family */
    --font-family: 'Montserrat', sans-serif;
    --font-family-plus-jakarta: 'Plus Jakarta Sans', sans-serif;

    /* Font size */
    --font-size-small: 1.2rem;
    --font-size-normal: 1.5rem;
    --font-size-large: 2.0rem;
    --font-size-logo: 2.5rem;

    /* Borders */
    --btn-border: 0.5rem;
    --border: 1rem;
    --border-100: 100%;
}

/* Tema Light */
[data-theme='light'] {
    --primary-color: #fff;
    --secondary-color: #444;
    --primary-background-color: #e9e9e9;
    --secondary-background-color: #dbdbdb;

    /* Texts */
    --text-color: #222;
}

/* Patterns */
/* Buttons */
.btn-projects,
.btn-cta,
.btn-whatsapp {
    padding: 20px 20px;
    font-size: var(--font-size-normal);
    color: var(--white);
    font-weight: 500;
    text-align: center;
    border-radius: var(--btn-border);
}

/* Colors Areas */
.color-tecnologia {
    color: var(--green);
}

.color-design {
    color: var(--pink);
}

.color-publicidade {
    color: var(--yellow);
}

.color-marketing {
    color: var(--purple);
}


/* Borders */
.border-tecnologia {
    border: 1px solid var(--green);
}

.border-design {
    border: 1px solid var(--pink);
}

.border-publicidade {
    border: 1px solid var(--yellow);
}

.border-marketing {
    border: 1px solid var(--purple);
}

/* Preenchimento */
.fill-tecnologia {
    fill: var(--green);
}

.fill-design {
    fill: var(--pink);
}

.fill-publicidade {
    fill: var(--yellow);
}

.fill-marketing {
    fill: var(--purple);
}

/* Loading */
/* .loading {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.loading,
.up,
.down {
    z-index: 99;
}

.up {
    width: 100%;
    height: 50%;
    background-color: black;
    transition: transform 2s ease-in-out;
    transform: translateY(0);
}

.loading__moving-up {
    transform: translateY(-100%);
}

.down {
    width: 100%;
    height: 100%;
    background-color: black;
    transform: translateY(0);
    transition: transform 2s ease-in-out;
}

.loading__moving-down {
    transform: translateY(100%);
} */

/* Estruturas bases HTML */
body {
    background: var(--primary-background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: background 0.5s, color 0.5s;
}

header {
    width: 100%;
    height: 0;
    z-index: 100;
}

main {
    background-color: var(--primary-background-color);
    margin-top: 130px;
}

/* Header */
.header-container {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 20px;
    background: var(--primary-color);
    z-index: 100;
}

#toggle-theme,
.nav-btn {
    animation: aparecer 6s ease-in-out;
}

/* Toggle Theme */
#toggle-theme {
    width: 18px;
    height: 18px;
    margin-right: 40px;
    font-size: var(--font-size-small);
    font-weight: 500;
    text-indent: 27px;
    color: var(--text-color);
    border-radius: var(--border-100);
    cursor: pointer;
}

[data-theme='dark'] #toggle-theme {
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
}

[data-theme='light'] #toggle-theme {
    background-color: var(--yellow);
    border: 2px solid var(--primary-color);
}

/* Logo */
#logo {
    font-size: var(--font-size-logo);
    font-weight: 700;
    line-height: 35px;
    white-space: nowrap;
}

/* Nav Button */
.nav-btn {
    font-size: var(--font-size-small);
    color: var(--text-color);
    width: 60px;
    text-align: end;
    cursor: pointer;
}

/* Navegation */
.nav {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 80px 0 0;
    background-color: var(--primary-color);
    transform: translateY(-80px);
    transition: transform 3s ease;
}

.nav__hidden {
    transform: translateY(calc((-100%) + 128px));
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.nav-item {
    border-bottom: 1px solid #2e2e2e;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

[data-theme='light'] .nav-item {
    border-bottom: 1px solid #e2e2e2;
}

.nav-item:hover {
    background-color: #b300ff;
}

.nav-link {
    color: var(--text-color);
    white-space: nowrap;
    font-size: var(--font-size-normal);
    transition: color 0.3s;
}

/* Peril */
.perfil-img {
    position: absolute;
    top: 170px;
    width: 20vh;
    height: 20vh;
    transform: scaleX(-1);
    border-radius: var(--border);
}

/* Areas */
.areas__container {
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color);
}

.areas-text {
    font-size: var(--font-size-normal);
}

/* Whatsapp Fixed */
.whatsapp-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.whatsapp-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    background: var(--primary-color);
}

.whatsapp-text {
    font-weight: 300;
    font-size: var(--font-size-normal);
    color: var(--text-color);
}

.btn-whatsapp {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    background-color: var(--whatsapp-green-light);
    margin-left: 10px;
}

.icon-whatsapp {
    align-self: flex-end;
    width: 17px;
    margin-left: 5px;
    fill: var(--white);
}

.copyright-container {
    padding: 0px;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color);
    transition: all 0.8s ease-in-out;
}

.copyright {
    color: transparent;
    transition: all 0.5s ease-in;
}

/* Body Patterns*/
/* Padding Section */
.hero-info__container,
.hero-highlights__container,
.works,
.services,
.contact__container {
    padding: 10vh 5vh 10vh;
}

/* Margin Bottom Section */
body {
    margin-bottom: 80px;
}

/* H2 Title*/
.works__title,
.services__title,
.contact__title {
    font-size: var(--font-size-large);
    text-align: center;
    margin-bottom: 5vh;
}

/* H3 Title */
.works__subtitle,
.socialmedia__title,
.form__title {
    font-size: var(--font-size-normal);
    text-align: center;
}

/* Containers Patterns */
.works__container,
.services__container,
.form__container,
.socialmedia__container {
    padding: 5vh 0 0;
}

/* Main */
/* Hero */
.hero {
    display: flex;
    flex-direction: column;
}

/* Hero Infos */
.hero-info__container {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    gap: 40px
}

/* .hero-areas {
    font-size: var(--font-size-normal);
    line-height: 2.5rem;
    color: var(--purple);
    text-transform: uppercase;
} */

.hero-title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 4rem;
    color: var(--green);
}

.hero-text {
    font-size: var(--font-size-normal);
    line-height: 2.5rem;
    color: var(--secondary-color);
}

/* Hero Buttons */
.hero-info__btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-projects {
    background-color: var(--secondary-color);
}

.btn-cta {
    background-color: var(--whatsapp-green-light);
}

/* Hero Image or Animation */
.hero-animation__container {
    height: 80vw;
    overflow: hidden;
}

.hero-animation {
    display: flex;
    transform: scale(2.6);
}

/* Hero Highlights */
.hero-highlights__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.highlights__container {
    display: flex;
    padding: 10px 20px;
    gap: 10px;
    border-radius: var(--border);
    background-color: var(--primary-background-color);
}

.projects-done__icon-check {
    min-width: 20px;
    max-width: 20px;
    border-radius: var(--border-100);
}

.projects-done__texts {
    font-size: var(--font-size-normal);
    font-weight: 500;
}

/* Introdução */
#intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--text-color-inverted);
    /* remover ou ajustar */
    padding-bottom: 250px;
}

.intro__title {
    font-weight: 700;
    font-size: var(--font-size-large);
    padding: 40px;
}

.intro-text,
.intro-text strong {
    font-size: var(--font-size-large);
    color: var(--text-color);
    width: 80%;
}

.intro-text strong {
    color: var(--green);
}

/* Knowledge */
/* Tecnology Icons */
.knowledge {
    display: flex;
    background-color: var(--secondary-background-color);
    flex-direction: column;
    padding: 40px;
}

.knowledge__title {
    text-align: center;
    font-size: var(--font-size-large);
}

.tech-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.tech-item {
    display: flex;
    padding: 20px;
    width: 50px;
    background-color: var(--secondary-background-color);
    flex-direction: column;
    align-items: center;
}

.fab:before {
    font-size: var(--font-size-large);
}

/* Works Brands*/
.works {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
}

[data-theme='light'] .works {
    background-color: var(--secondary-color);
}

[data-theme='light'] .works__title {
    color: var(--primary-color);
}

.works__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.light-color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 66px;
    border-radius: var(--btn-border);
}

.works__item {
    position: relative;
    width: 150px;
    height: 64px;
    padding: 15px;
    object-fit: contain;
    border-radius: var(--btn-border);
    background-color: var(--primary-background-color);
}

[data-theme='light'] .works__item {
    background-color: var(--text-color);
}

/* Services */
.services {
    display: flex;
    flex-direction: column;
}

.services__title {
    text-align: center;
}

.services__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.services__item {
    display: flex;
    justify-content: center;
    padding: 15px;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: var(--border);
    background-color: var(--secondary-background-color);
    font-size: var(--font-size-large);
}

/* Footer */
footer {
    background-color: var(--primary-color);
}

.contact__container {
    display: flex;
    flex-direction: column;
}

.form__container {}

.socialmedia__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.fa-brands {
    font-size: var(--font-size-large);
}

/* Animação para aparecer o copyright com o hover no footer */
.whatsapp-bar:hover+.copyright-container,
.copyright-container:hover {
    height: 30px !important;
}

.whatsapp-bar:hover+.copyright-container .copyright,
.copyright-container:hover .copyright {
    color: var(--secondary-color);
    transition: all 0.8s ease-in;
}

/* Animações */
/* Line Color RGB Animated  */
.line-color {
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg in hsl longer hue, red, blue);
    background-size: 200% 100%;
    animation: moveLineColor 10s linear infinite alternate;
}

.line-top {
    position: fixed;
    top: 65px;
    width: 100%;
    z-index: 101;
}

[data-theme='light'] .line-color {
    height: 3px;
}

/* Animated Colorful Line */
@keyframes moveLineColor {
    from {
        background-position: 0% 100%;
    }

    to {
        background-position: 100% 0;
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes subir {
    from {
        transform: translateY(100%)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes descer {
    from {
        transform: translateY(-100%)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 768px) {

    /* Header */
    .nav__hidden {
        transform: translateY(calc((-100%) + 133px));
    }

    /* Areas */
    .areas__container {
        justify-content: center;
        gap: 20px;
    }

    .areas-text {
        font-size: var(--font-size-large);
    }

    /* Hero */
    /* Hero Infos */
    .hero {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .hero-info__container {
        width: 100%;
        gap: 50px;
    }

    .hero-info__btn {
        flex-direction: row;
    }

    .btn-projects,
    .btn-cta {
        flex-grow: 1;
    }

    /* Hero Image */
    .hero-animation__container {
        flex-direction: row;
        display: inline;
        width: 45%;
        height: 32vh;
    }

    .hero-animation {
        transform: scale(2.7);
    }

    .hero-highlights__container {
        padding-top: 0;
        width: 55%;
    }
}

@media (min-width: 1024px) {

    /* Max-Width */
    .hero,
    .works__container {
        max-width: 1200px;
    }

    /* Hero */
    .hero {
        flex-direction: row;
        justify-self: center;
    }

    /* Hero Infos */
    .hero-info__container {
        width: 60%;
    }

    /* Hero Image */
    .hero-animation__container {
        width: 40%;
        height: 50vh;
    }

    .hero-animation {
        transform: scale(2.8);
    }

    /* Hero Highlights */
    .hero-highlights__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    .highlights__container {
        width: 40%;
        flex-grow: 1;
    }

    /* Works Brands */
    .works__container {
        gap: 20px;
    }

    .light-color-container:hover {
        background: linear-gradient(90deg in hsl longer hue, red, blue);
        background-size: 150% 100%;
        animation: moveLineColor 3s linear infinite alternate;
    }

}