/* Base */
@import './base/reset.css';
@import './base/responsive.css';
@import './base/typography.css';
@import './base/variables.css';

/* Layouts */
@import './layout/structure.css';

/* Theme */
@import './theme/theme.css';

/* Components */
@import './components/button.css';
@import './components/contact.css';
@import './components/form.css';
@import './components/hero.css';
@import './components/logo.css';
@import './components/modal-submit-form.css';
@import './components/navigation.css';
@import './components/services.css';
@import './components/social-medias.css';
@import './components/toggle-theme.css';
@import './components/whatsapp-fixed.css';
@import './components/works-brands.css';

/* Utils */
@import './utils/animation.css';
@import './utils/helpers.css';

/* Introdução */
#intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--text-color-inverted);
    /* remover ou ajustar */
    padding-bottom: 250px;
}

.intro__title {
    font-weight: 700;
    font-size: var(--font-size-large);
    padding: 40px;
}

.intro-text,
.intro-text strong {
    font-size: var(--font-size-large);
    color: var(--text-color);
    width: 80%;
}

.intro-text strong {
    color: var(--green);
}

/* Knowledge */
/* Tecnology Icons */
.knowledge {
    display: flex;
    background-color: var(--secondary-background-color);
    flex-direction: column;
    padding: 40px;
}

.knowledge__title {
    text-align: center;
    font-size: var(--font-size-large);
}

.tech-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.tech-item {
    display: flex;
    padding: 20px;
    width: 50px;
    background-color: var(--secondary-background-color);
    flex-direction: column;
    align-items: center;
}

.fab:before {
    font-size: var(--font-size-large);
}