/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Hero Infos */
.hero-info__container {
    display: flex;
    flex-direction: column;
    gap: 30px
}

/* Hero Image or Animation */
.hero-animation__container {
    margin-top: -100px;
    /* overflow: hidden; */
}

.hero-animation {
    display: flex;
}

/* Hero Highlights */
.hero-highlights__container {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.highlights__container {
    display: flex;
    gap: 10px;
    border-radius: var(--border);

}

.projects-done__icon-check {
    min-width: 20px;
    max-width: 20px;
    align-self: self-start;
}

.projects-done__title,
.projects-done__texts {
    font-size: var(--font-size-large);
}

.projects-done__title {
    font-weight: 500;
}

.projects-done__texts {
    font-weight: 300;
    color: var(--text-color);
    font-size: var(--font-size-normal);
}