/* Social Media Profissionals */
.socialmedia__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.fa-brands {
    font-size: var(--font-size-large);
    color: var(--text-color);
}

.fa-linkedin-in:hover {
    color: #0e76a8;
}

.fa-square-github:hover {
    color: #C06EFF;
}

.fa-google:hover {
    color: gold;
}